<button class="back-btn">back</button>
<div class="single-project">
    <div class="slides" data-element="slides">
        <ul class="carousel" data-element="carousel">
            {{#each project.images}}
                <li><img src="{{this}}"></li>
            {{/each}}
        </ul>
        <div class="navigations" data-element="navigations">
            <span class="prev" data-element="navPrev">prev</span>
            <span class="next" data-element="navNext">next</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <h4>Price: <span>&euro;{{{project.price}}}</span></h4>
            <p>{{{project.snippet}}}</p>
            <p>{{{project.description}}}</p>
        </div>
    </div>
</div>